nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 2rem;
  line-height: 0;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 2.4rem;
  padding-block: 0.8rem;
  list-style: none;
}

nav ul li:last-child img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  object-fit: cover;
}

@media (width <= 35em) {
  nav ul li:nth-child(2),
  nav ul li:nth-child(3) {
    display: none;
  }
}